{% extends "_base.html" %}
{% block content %}

<hr>

<h1>This is all of our leads</h1>

<div><a class="btn btn-secondary btn-sm" href="{% url 'leads:lead-create' %}" >Create a new lead</a></div>
<table class="table table-sm table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Lead name</th>
            <th scope="col">Age</th>
            <th scope="col">Agent</th>
        </tr>
    </thead>
    <tbody>
        {% for lead in leads %}
        <tr>
            <th><a href="{% url 'leads:lead-detail' lead.pk %}"> {{ lead.pk }}</a></th>
            <td><a href="{% url 'leads:lead-detail' lead.pk %}">{{ lead.first_name }} {{ lead.last_name }} </a></td>
            <td>{{ lead.age }}</td>
            <td>{{ lead.agent }}</td>
            <td><a href="{% url 'leads:lead-update' lead.pk %}"><i class="fas fa-edit"></i></a></td>
            <td><a href="{% url 'leads:lead-delete' lead.pk %}"><i class="fas fa-trash"></i></a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}