{% extends '_base.html' %}
{% block content %}
<!--Section: Design Block-->
<section>
    <div id="intro" class="bg-image" style="
                background-image: url('https://mdbootstrap.com/img/Photos/Others/images/37.jpg');
                height: 100vh;
              ">
        <div class="mask">
            <div class="row">
                <br>
                <br>
            </div>
            <div class="container d-flex justify-content-center align-items-center h-100">

                <div class="row align-items-center text-white">
                    <div class="col-lg-6 my-5">
                        <h1>FlexaCRM</h1>
                        <hr class="my-4" style="opacity: 1;" />
                        <p class="lead mb-5">
                            Access to this service is restricted. Authorized personnel only.
                            Please contact your manager to get login credentials.
                        </p>
                        <button type="button" class="btn btn-light btn-lg mb-2 mb-md-0" >
                            Launch demo modal
                        </button>
                        <button type="button" class="btn btn-light btn-lg  mb-2 mb-md-0">
                            View demo plan
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</section>

{% endblock content %}